
.label{
    -fx-font-weight:bold;
}
.button{
    -fx-font-weight:bold;
}
.text-field{
    -fx-font-weight:bold;
}
.table-view{
    -fx-background-color: lightblue;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-border-style: solid;
}
.table-row-cell {
    -fx-font-size: 12pt;
    -fx-font-weight:bold;
    -fx-alignment:top-left;
}
.table-view .column-header .label{
    -fx-font-size: 12pt;
    -fx-text-fill: blue;
    -fx-alignment:top-left;
}
/*.table-row-cell:selected {
    -fx-background-color: blue;
}*/
.table-row-cell:selected .text {
    -fx-fill: red ;
}
.table-row-cell .table-cell {
    -fx-text-fill: black;
    -fx-border-width: 0.75px;
    -fx-border-color: black black black black;
    -fx-background-color: lightblue;
}

